body {
    background-color: #00D399;
}

.temperature {
font-size: 120px;
color: white;
}

.temperature .celcius {
font-size: 70px;
}

.red-cross {
display: none;
}

.state-date {
color: white;
}

.state .state-left, .state .state-description{
    padding: 10px;
}


.state-description{
    color: #d2ffd2;
    font-size: 25px;
}

.state ul{
    list-style: square;
}

.navbar {
    text-align: center;
    background-color: #00D399;
    min-width: 450px;
}

.navbar .title {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.navbar .title .small{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/*auth*/

#auth-section {
    position: absolute;
    right: 40px;
    top: 25px;
}

#auth-section .auth-url {
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#auth-section .auth-url:focus, #auth-section .auth-url:hover {
    color: white;
    text-decoration: underline;
}

/*content*/

.content-wrapper {
    margin-top: 72px;
}